html {
  background-color: #c9b5ae;
}

h1 {
  color: #61363d;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

nav ol {
  color: #61363d;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  list-style-type: none;
}
